@import url('../css/media.css');

.Herobanner {
  height: min(650px, 100vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 180px;
  width: min(100%, 1600px);
  margin: 0 auto;
}


.AnimationContainer {
  position: relative;
  flex-grow: 1;
  z-index: -1;

  & > * {
    position: absolute;
    left: 30%;
    top: 50px;
  }
}

.Tagline {
  font-size: 1.5rem;
}

.DisplayTitle {
  font-size: 5rem;
  margin-bottom: 0;
}

.CTAs {
  margin-block-start: 64px;
  display: inline-grid;
  grid-gap: 24px;
  grid-auto-flow: column dense;
}

