
:root {

  /* Color Palettes */
  --ifm-color-primary: #0057ff;
  --ifm-color-primary-dark: #004ee6;
  --ifm-color-primary-darker: #004ad9;
  --ifm-color-primary-darkest: #003db3;
  --ifm-color-primary-light: #1a68ff;
  --ifm-color-primary-lighter: #2670ff;
  --ifm-color-primary-lightest: #4d89ff;

  --ifm-color-secondary: #c2c9d6;
  --ifm-color-secondary-dark: #aab3c6;
  --ifm-color-secondary-darker: #9da9bd;
  --ifm-color-secondary-darkest: #7988a5;
  --ifm-color-secondary-light: #dadfe6;
  --ifm-color-secondary-lighter: #e7e9ef;
  --ifm-color-secondary-lightest: #EEF1F6;

  --ifm-color-contrast: #000000;
  --ifm-color-contrast-dark: #000000;
  --ifm-color-contrast-darker: #000000;
  --ifm-color-contrast-darkest: #000000;
  --ifm-color-contrast-light: #121721;
  --ifm-color-contrast-lighter: #242E42;
  --ifm-color-contrast-lightest: #364563;

  --ifm-color-success: #02D98C;
  --ifm-color-success-dark: #02CA82;
  --ifm-color-success-darker: #02B675;
  --ifm-color-success-darkest: #019D65;
  --ifm-color-success-light: #02E996;
  --ifm-color-success-lighter: #02F89F;
  --ifm-color-success-lightest: #0CFDA6;

  --ifm-color-info: #0057ff;
  --ifm-color-info-dark: #004ee6;
  --ifm-color-info-darker: #004ad9;
  --ifm-color-info-darkest: #003db3;
  --ifm-color-info-light: #1a68ff;
  --ifm-color-info-lighter: #2670ff;
  --ifm-color-info-lightest: #4d89ff;

  /* Document */
  --ifm-background-color: #fff;
  --ifm-color-content: var(--ifm-color-contrast-lightest);
  --ifm-font-family-base: "Roboto";
  --ifm-heading-font-weight: 700;
  --ifm-heading-color: var(--ifm-color-contrast);
  --ifm-code-font-size: 95%;
  --ifm-global-radius: 0.25rem;
  --ifm-container-width: 64rem;

  /* Navbar */
  --ifm-navbar-link-color: var(--ifm-color-primary);
  --ifm-navbar-link-hover-color: var(--ifm-color-content);
  --ifm-navbar-padding-vertical: 16px;
  --ifm-navbar-padding-horizontal: 32px;
  --ifm-navbar-shadow: rgba(0, 0, 0, 0.05) 0px 4px 28px 0px;

  /* Sidebar */
  --ifm-toc-border-color: var(--ifm-color-secondary-lightest);
  --ifm-menu-color-background-active: #EBF2FF;
  --ifm-menu-color-background-hover: transparent;
  --ifm-menu-link-padding-vertical: 0.5rem;

  /* Button */
  --ifm-button-padding-vertical: 1rem;
  --ifm-button-padding-horizontal: 1.6rem;

  /* Footer */
  --ifm-footer-padding-vertical: 1rem;
  --ifm-footer-color: var(--ifm-color-secondary);
  --ifm-footer-background-color: none;
}
